/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
/* Body */
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    min-width: 5px;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
.header, 
.main, 
.footer, 
.copy-right{
    max-width: 100vw;
}
/* .header {} */
.header .top {
    background-color: rgb(124, 123, 123);
    color: white;
}
.header .top,
.header .top .place, 
.header .top .news, 
.header .top .news .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}
/* .header .top .place {} */
/* .header .top .news {} */
.header .top .news .social {
    height: 24px;
}
.header .top .news .social svg:hover {
    opacity: .5;
}
.header .top .news .gift {
    background-color: black;
    padding: 8px 24px;
}
/* SubTop */
.header .sub-top {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, calc(100vw / 3)));
    justify-content: center;
}
.header .sub-top .blank,
.header .sub-top .logo,
.header .sub-top .call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .sub-top .blank {
    background-color: white;
}
.header .sub-top .logo {
    background-color: white;
    padding: 10px;
}
.header .sub-top .call {
    background-color: white;
    padding-right: 60px;
}
/* Menu */
.header .menu {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menu .menu-mobile {
    display: none;
    cursor: pointer;
    width: fit-content;
    padding: 2px;
}
.header .menu .menu-mobile div {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
}
.header .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.header .menu #menu li a {
    line-height: 32px;
}
.header .menu #menu li a:hover {
    color: grey;
}
/* SubMenu */
.header .sub-menu {}
.header .sub-menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 10px 0;
}
.header .sub-menu ul li a {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    color: rgb(124, 123, 123);;
}
.header .sub-menu ul li a:hover {
    background-color: black;
    color: #fff;
    opacity: .8;
    transition: .5s;
    scale: 1.1;
}
/* Main */
.main {
    width: 100%;
}
.main .banner {
    position: relative;
    max-width: 100%;
}
.main .banner #img {
    width: 100%;
}
.main .banner .info {
    color: #fff;
    position: absolute;
}
.main .banner .info p {
    width: 24ch;
}


/* Footer */
.footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.footer .banner {
    width: 100%;
    height: 120px;
    background-color: rgb(124, 123, 123);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer .info {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, calc(100vw / 3)));   
    
    color: white;
    width: 100%;
}
.footer .info .ble-bg {
    display: flex;
    justify-content: center;
}
.footer .info .ble {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer .info .ble p {
    max-width: 40ch;
    text-align: start;
}
.footer .info .ble ul {
    display: flex;
    gap: 20px;
}
.footer .info .ble ul li a svg {
    fill: #fff;
}
.footer .info .links {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 100%));
}
.footer .info .links-group {
    margin: auto;
}
.footer .info .links-group h4 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}
.footer .info .links-group ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.footer .info .links-group ul li a {
    color: rgb(204, 204, 204);
}
.footer .info .call {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.footer .info .call .call-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .info .call .call-item .button {
    background-color: rgb(124, 123, 123);
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
}
.copy-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color:  rgb(26, 25, 25);
    color: rgb(204, 204, 204);
    gap: 10px;
}

@media (max-width: 1200px) {
    .header .sub-menu ul {
        grid-template-columns: repeat(7, 1fr);
    }
    .footer {
        grid-template-rows: 1fr;
    }
    .footer .info {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    .footer .info .ble {
        align-items: center;
        text-align: center;
        padding: 32px;
        background-color:  rgb(26, 25, 25);
        width: 100%;
    }
    .footer .info .ble .logo,
    .footer .info .ble .social {
        opacity: .8;
    }
    .footer .info .ble p {
        text-align: center;
    }
    .footer .info .links {
        width: 100%;
        grid-row: 2;
        margin: 32px 0;
    }
    .footer .info .links .links-group {
        width: 150px;
    }
    .footer .info .call {
        grid-row: 3;
        padding-bottom: 48px;
        display: grid;
        justify-content: center;
    }
    .footer .info .call .call-item {
        text-align: center;
    }
}
@media (max-width: 800px) {
    .header .sub-top {
        grid-template-columns: 1fr;
    }
    .header .sub-top .call {
        flex-direction: row;
        gap: 20px;
        padding: 10px;
        color: white;
        background-color:  rgb(124, 123, 123);
        padding-right: auto;
    }
    .header .sub-menu ul {
        grid-template-columns: repeat(5, 1fr);
    }
    .footer .info {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .info .call {
        grid-row: 3;
        align-items: center;
    }

}
@media (max-width: 600px) {
    .header .top,
    .header .top .place, 
    .header .top .news, 
    .header .top .news .social {
        justify-content: center;
    }
    .header .menu {
        min-height: 48px;
        position: relative;
    }
    .header .menu .menu-mobile {
        place-self: start;
        position: absolute;
        display: block;
        top: 4px;
        right: 20px;
        z-index: 2;
    }
    #menu {
        display: none;
    }
    #menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .header .menu #menu li {

    }
    .header .menu #menu li a {
        display: flex;
        line-height: 48px;
        background-color: black;
        width: 90vw;
        z-index: 2;
    }
    .header .sub-menu ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 400px) {
    .header .sub-top .call {
        flex-direction: column;
        gap: 0;
    }
    .header .sub-menu ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer .info .links {
        display: grid;
        align-items: start;
    }
}
@media (max-width: 300px) {
    .header .sub-menu ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .info .links {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}